/* style all elements in the <body> */
body {
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/58/8c/4b/588c4ba75cbd6dd9fe3c5bfafaaccdea.jpg);
    background-repeat: repeat;
    text-align: center;
    color: white;
    vertical-align: top;
    font-size: larger;
    font-family: "Century" ;

}

#startGame{
    button-size: 95px;

}

div {
    margin-bottom: 110px;
}

#difficulty{
    margin-top: 70px;
}

span{
    font-size: 60px;
}

#guess{
    margin-top: 100px;
}